.list {
    border: 2px solid rgb(49, 49, 49);
    background: rgb(20, 20, 20);
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
    width: 99%;
    display: flex;
    justify-content: space-around;
}

.products {
    text-align: center;
    width: 99%;
}